/* This CSS sets up the basic grid */
.box-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.box {
	background-color: darkslategray;
	width: 15em;
	height: 15em;
	margin: 2em;
	padding: 1em;
	transition: all 0.2s ease-in-out;
	text-align: center;
	color: lightblue;
	text-decoration: transparent;
}

/* Makes the boxes larger when hovered over, creating an expanding effect */
.box:hover {
	transform: scale(1.1);
}
