header {
    background-image: url(../img/starsky.jpg);
    height: 10em;
    padding: 1em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    margin: 0%;
    font-size: 64px;
}

h3 {
    margin: 0%;
}