/* Sets up some standard formating */
body {
	background-color: #253f3f;
	color: white;
	font-family: sans-serif;
	margin: 0cm;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
		1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

p {
	margin: 0cm;
}

/* Lets me center images */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

/* Lets me align images to the left while making text go around it */
.leftalign {
	float: left;
	margin: 0px;
	margin-right: 30px;
}

/* Sets up my home button */
.home {
	padding-top: 1em;
	padding-left: 2em;
	width: 86px;
	height: 86px;
	transition: all 0.2s ease-in-out;
}

.home:hover {
	transform: scale(1.1);
}

/* Basic "text with image float" format */
.lemontext {
	margin: 2em;
	background-color: darkslategray;
	min-height: 200px;
	height: auto;
}

.lemontext > a {
	padding: 1em;
	color: lightblue;
	text-decoration: none;
}

.lemontext > p {
	padding: 1em;
}

/* Basic "I am writing an essay here" format */
.plaintext {
	margin: 2em;
	padding: 1em;
	background-color: darkslategray;
}
