.box-grid {
    display: grid; 
    grid-template-columns: 15em 15em 15em ; 
    grid-template-rows: 15em 15em 15em; 
    gap: 5em 5em;
}

.box {
    background-color: darkslategray;
    width: 15em;
    height: 15em;
    margin: 2em;
    padding: 1em;
    transition-duration: 0.2s;
    text-align: center;
    color: lightblue;
    text-decoration: transparent;
}

.box:hover{
    width: 17em;
    height: 17em;
    margin: 1em;
}