body {
    background-color: #253f3f;
    color: white;
    font-family: sans-serif;
    margin: 0cm;
}

h1 {
    margin: 0cm;
    font-size: 64px;
}

p {
    margin: 0cm;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.hehebottom {
    background-color: darkslategray;
    padding: 2em;
}

.leftalign {
    float: left;
    margin: 0px;
    margin-right: 30px;
}

.home {
    padding: 1em;
    width: 64px;
    height: 64px;
    transition-duration: 0.2s;
}

.home:hover {
    width: 96px;
    height: 96px;
    margin: 1en;
}

.lemontext {
    margin: 2em;
    padding: 1em;
    background-color: darkslategray;
    height: 200px;
    text-decoration: none;
    color: lightblue;
}

.lemontext-h {
    padding: 1em;
    color: white;
}

.plaintext {
    margin: 2em;
    padding: 1em;
    background-color: darkslategray;
}