.myDiv {
    border: 5px outset red;
    background-color: lightblue;    
    text-align: center;
    width: 50%;
  }
  
  .myDiv2 {
    border: 5px outset lightblue;
    background-color: red;
    text-align: center;
  }
  
.myDiv3 {
    border: 5px outset black;
    background-color: grey;
}

  h2 {
     color: red;
  }
  h2 {
      color: black;
  }
  
.myOwnDiv {
    background-image: url('EtZrfirUcAAh_z1.jpg');
    background-color: #ccc;
    height: 1000px;
    width: 925px;
    background-position: center;
    text-align: center;
}